.img-wrapper img {
  width: 100px;
  margin-top: -10px;
}

.cart-wrapper {
  border: 1px solid #ccc;
  width: 500px;
  padding: 30px;
  margin: 10px;
  height: 100px;
  margin-left: 10%;
}

.btn-wrapper button {
  background: cadetblue;
  border: 0px;
  color: aliceblue;
  padding: 8px;
  border-radius: 6px;
  margin-right: 4px;
  margin-left: 4px;
}

.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}

.add-to-cart {
  background: blue;
  position: absolute;
  border-radius: 12px;
  top: 4%;
  right: 2%;
  width: 40px;
}
