.img-wrapper img {
  width: 100px;
}

.cart-wrapper {
  border: 1px solid #ccc;
  width: 500px;
  padding: 30px;
  margin: 10px;
}

.btn-wrapper button {
  background: cadetblue;
  border: 0px;
  color: aliceblue;
  padding: 8px;
  border-radius: 6px;
}

.item {
  float: left;
}

.add-to-cart {
  background: blue;
  position: absolute;
  border-radius: 12px;
  top: 4%;
  right: 2%;
  width: 40px;
}
